<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" text="text/css" href="/css/css.css">
    <title>Lady D's Apothecary Reference Boutique</title>
</head>
<body>


<h1> Apothecary Update Product Information Form </h1>

<p> Please be invited to help us by updating a product that may need more current information.</p>
    <br><br>

     <div id="updateProduct">
        <form action="/" method="PUT">
            <h4>Enter the category id number of the product you would like to update:</h4>
            <br><br>
            <input name="product_name" type="text" id="product_name"  placeholder="Enter the name of the new healing item" />
            <input name="description" type="text" id="description"  placeholder="Enter a brief description" />
            <input name="price" type="number" id="price"  placeholder="Enter a suggested price" />
            <label for="category_id">Category Id Number:</label>
            <input name="category_id" type="number" id="number"
             placeholder="Enter a category type number ( 1 for oil, 2 for soap, 3 for food and 4 for supplement)" >
            <input type="submit" value="Submit">
        </form>
</body>

</html>


