<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" text="text/css" href="/css.css">
    <title>Lady D's Apothecary Reference Boutique</title>
</head>
<body class="main">

  <h1>Welcome to Lady D's Apothecary Reference Boutique</h1>


  <div class="product">
  <a href ="/products" class="product-links" >Full Apothecary Product List</a>
  </div>



</body>

</html>
