.main{
  background-image: url('/images/flowers-herbs.jpg');
  background-size: cover;
}

.product-linkbox{
  margin-left:400px;
  margin-top: 100px;
  width: 415px;
  font-size: 40px;
  background-color: rgb(230, 255, 230,.8);
}


.product-links{
  font-size: 30px;
  text-align: center;
  font-color: green;
  font-weight: bold;
  margin-left: 20px;
  top: 500px;
}

.mainpic1{
  top:425px;
  left:0;
  width: 75px;
  height: 75px;
  position: relative;
  animation: slideleft 10s infinite;
  opacity: .8;
}
.mainpic2{
  top:350px;
  left:500px;
  width: 75px;
  height: 75px;
  position: relative;
  animation: slideright 10s infinite;
  opacity: .8;
}

@keyframes slideleft
{
  from {left:0px;}
  to {left:900px;}
}

@keyframes slideright
{
  from {left:900px;}
  to {left:-100px;}
}

.list-hdg{
  /* position: fixed;*/
  text-align: center;
}

.plist-hdg{
  /* position: fixed;*/
  text-align: center;
  flex: 1;
}

.plist-container{
  display:flex;
}


.product-list{
  top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/bkgrd-peppermint-leaves.jpg');
  background-attachment: fixed;
  flex:3;
}

.list-back{
  top: 100px;
  height: 900px;
  width: 650px;
  background-color: rgb(180, 228, 212,.4);
}

.product-listbox{
  width: 500px;
}

/*.product-list-item{
  /background-color: white;
  width: 50px
  height: 20px;
  opacity: .5;
  font-size: 20px;
}*/

.show-product{
  background-image: url('/images/bkgd1-HerbBasket.jpeg');
  background-size: cover;
}

