<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" text="text/css" href="/css.css">
    <title>Lady D's Apothecary Reference Boutique</title>
</head>
<body class="show-product">


<h1> Apothecary Add A Product Form </h1>

<p> Here at Lady D's Reference Boutique, we welcome suggestions from our visitors.
    <br><br>
    Please feel free to add a healing item that you would like to see listed in our product line.</p>

     <div id="newProduct">
        <form action="/products" method="POST">
            <h4>Please Tell Me Who You Are!</h4>
            <label for="username">Name:</label>
            <input type="text" id="username"  placeholder="Enter your full name" />
            <label for="email">Email:</label>
            <input type="email" id="email"  placeholder="Enter your email address" />
            <br>
            <br>

            <h4>Enter the new healing item you would like to suggest below:</h4>
            <!-- New Product Information--><br><br>
            <label for="product_name">Product Name:</label>
            <label for="description">Name:</label>
            <label for="type">Product Type</label>
            <label for="price">Suggested Price</label>

            <input name= "product_name" type="text" id="product_name"  placeholder="Enter the name of the new healing item" />
            <input name= "description" type="text" id="description"  placeholder="Enter a brief description" />
            <input name= "price" type="number" id="price"  placeholder="Enter a suggested price" />
            <input name= "category_id" type="number" id="number"  placeholder="Enter a category type number ( 1 for oil, 2 for soap, 3 for food and 4 for supplement)" />
            <input name="image_url" type="text" placeholder="Image file address" /><br>



              <br><br>
              <input type="submit" value="Add your suggested product" />
        </form>

    </div>

    <div>  <a class="navs" href="/"> Return to Home Page  </a> </div>
    <div>  <a class="navs" href="/products"> Return to Product List  </a> </div>


</body>

</html>
