<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" text="text/css" href="/css.css">
    <title>Lady D's Apothecary Reference Boutique</title>
</head>
<body class="product-list">
<div class="plist-container">
    <div class="plist-hdg">
    <h1 > Apothecary Reference Boutique Product List</h1>
    </div>
    <!-- created for a parallex affect -->
    <div class="list-back">
      <div class="product-listbox">
      <%products.forEach((product) => { %>
        <div class="product-list-item">
         <h4>
          <%=product.product_name%>
          <a href="/products/<%=product.id%>"><%=product.product_name%></a>
         <img src="<%=product.image_url%>" />
         </h4>
        </div>
       <% })%>
      </div>
    </div>
</div>
</body>

</html>

