<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" text="text/css" href="/css/css.css">
    <title>Lady D's Apothecary Reference Boutique</title>


</head>
<body>
h2> Apothecary Products Search Results <h2>


<%products.forEach((product) => { %>
  <div class="products">
   <h5>
   <%=JSON.stringify(product)%>
   </h5>
  </div>
 <% })%>

</body>

</html>
